<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/star.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/images/Robert.jpg"></img>
        </div>

        {{>footer}}
    </body>
</html>
